@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.customers-page {
  background-color: yellow;
  color: black;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s ease-in;
}

.customers-page h2 {
  font-size: 34px;
  color: black;
  margin-bottom: 25px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.customers-page input {
  margin: 10px 0;
  padding: 12px 16px;
  width: 100%;
  max-width: 360px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.customers-page input:focus {
  background-color: #f2f2f2;
  box-shadow: 0 0 8px black;
}

.customers-page button {
  margin-top: 15px;
  padding: 12px 20px;
  background: black;
  color: yellow;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 360px;
}

.customers-page button:hover {
  background-color: yellow;
  color: black;
  border: 1px solid black;
}

.customers-page ul {
  list-style: none;
  padding: 0;
  margin-top: 35px;
  width: 100%;
  max-width: 440px;
}

.customers-page ul li {
  background: white;
  margin-bottom: 14px;
  padding: 12px 16px;
  border-radius: 10px;
  border-left: 6px solid black;
  box-shadow: 0 0 8px
}